// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.uber{
	max-height: 40%;
	margin-left: 27%;
}

.task{
	height: 40%;
	margin-left: 26.5%;
}

.ic{
	max-height: 40%;
	margin-left: 26.5%;
}

.carousel-inner{
	background: grey;
}

.header{
	background: #8496b4;
	margin-top: -3%;
	margin-bottom: -4.5%;
	height: 10%;
	font-size: 40px;
	vertical-align: center;
	color: white;
	text-shadow: 2px 2px #131317;
	font-style: italic;
	font-family: "Neuzit Heavy", sans-serif;
}


h1{
	font-size: 90px;
	position: relative;
	color: white;
	text-align: center;

	// background: #8496b4;
}

.footer {
	background: #8496b4;
	margin-top: -3%;
	margin-bottom: -4.5%;
	height: 200px;
	font-size: 40px;
	vertical-align: center;
	color: white;
	text-shadow: 2px 2px #131317;
	font-style: italic;
}

h2{
	font-size: 72px;
	position: relative;
	font-color: white;
	text-align: center;
	font-style: italic;
	padding: 4%;
}




.bottom{
	text-align:center;
	font: 26px;
	margin-bottom: 2%;
	font-style: bold;
}

a {text-decoration: none;}